---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Tarjetas from '../components/vue/Tarjetas.vue';
---

<Layout title="Welcome to Astro.">
	<div class="text-center grid justify-center w-[100%]">
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>
		<Tarjetas client:only/>

	</div>
</Layout>

